[2017-02-14 16:24] nguyenhaian opened #1 "[Request] A C# client for unity game engine."
When I import this lib into Unity game engine, there are errors.

Assets/socketcluster/ScClient/Proxy/HttpConnectProxy.cs(75,35): error CS1061: Type `System.Net.EndPoint' does not contain a definition for `ConnectAsync' and no extension method `ConnectAsync' of type `System.Net.EndPoint' could be found. Are you missing an assembly reference?

Assets/socketcluster/ScClient/Proxy/HttpConnectProxy.cs

[2017-02-15 03:28] sacOO7 commented on #1
Hey, for now try to comment out code that shows error. Don't use HttpConnectProxy in project for now. Comment out two methods :
1]  public Channel getChannelByName(string name)
2]  public void setProxy(string host, int port)
        {
            var proxy = new HttpConnectProxy(new IPEndPoint(IPAddress.Parse(host), port));
            _socket.Proxy = (SuperSocket.ClientEngine.IProxyConnector)prox

[2017-02-15 04:08] nguyenhaian opened #2 "Connect to server with authkey"
I can use authkey to connect to server with js client like this:
[code]

How can I do it with C# lib?

[2017-02-15 04:15] nguyenhaian commented on #1
@sacOO7 thank you. I can now connect to server.

[2017-02-15 04:43] #1 closed

[2017-02-15 04:47] nguyenhaian commented on #2
I can connect to the server with authToken by this way. It's very convenient.

[code]

[2017-02-15 06:11] sacOO7 commented on #2
Hey, just wanted to ask.Which version of unity you are using right now? Is it commercial or free edition? I can apply some patches in accordance with earlier problems.

[2017-02-15 06:30] nguyenhaian commented on #2
@sacOO7 I am using Unity version 5.5.0f3 free edition.

[2017-02-15 06:32] sacOO7 commented on #2
Ok thanks, I will try to patch methods for this version.

[2017-02-15 06:32] #2 closed

[2017-02-16 03:16] nguyenhaian opened #3 "connect error when build to ios/android using unity game engine."
I write a small code to test connectivity. It works well in unity editor.
But when I build project to ios/android, there are some errors. Could anyone help me?

[code]

**ios log:**

[code]

**My socketcluster server got a warning when ios app runs.**

[code]

**Android app log:**

[code]

**There is no log on my socket cluster server when my android app runs.**

[2017-02-16 04:45] nguyenhaian commented on #3
update: I am using unity free edition version 5.5.1f1.

ios app's logs above are fired on a simulator,  when I build to a real device, app's logs are the same android app's logs.

[2017-02-16 10:13] sacOO7 commented on #3
I think as far as android and ios is considered, client supports xamarin platform. I haven't tried building code using unity yet. Maybe you can search for error on internet. If it is working in unity editor, then it should work on android and ios too.

[2017-02-18 18:27] nguyenhaian commented on #3
update: It works on android and ios, the problem is I forgot to change server IP address from 127.0.0.1 to my computer's LAN IP.
There is one thing to note that JsonConvert.SerializeObject() function does not work with ios, so I have to use another JSON library, I didn't found the good one. I'm using SimpleJSON for now which is very easy to use but can't serialize 'object' type.

You can close thi

[2017-02-18 21:27] sacOO7 commented on #3
Why it doesn't work in ios? can you give me type of error it is producing right now?

[2017-02-18 22:04] nguyenhaian commented on #3
It is because of Newtonsoft.Json library. I use [MiniJSON](https://gist.github.com/darktable/1411710) instead, and it works fine.

[code]

You can look at the handshake event:

[code]

[2017-02-19 05:34] sacOO7 commented on #3
Oh, good. It's nice you were able to understand and edit the code. I will be closing this issue for now.

[2017-02-19 05:43] sacOO7 commented on #3
Hey, do you have account on gitter? If any further problem persist for unity developers who are using this client, I can redirect them to you.

[2017-02-20 08:57] nguyenhaian commented on #3
yes. My gitter account is nguyenhaian.

[2017-03-03 10:41] Armnomads opened #4 "SocketCluster for Unity3D"
Hi.
How can i use this in Unity3D.  I just copy **Newtonsoft.Json** dll and **WebSocket4Net** dll and all **c#** scripts to the project . Whether this will be enough ?
Maybe you can provide some integration tips for **Unity** .

Thanks.

[2017-03-03 11:50] sacOO7 commented on #4
Hey you can look for earlier issues opened by developers. I think that will be enough to integrate client.

[2017-03-03 22:15] Armnomads commented on #4
Hi again. now i was able to import , but after calling socket.connect() it throws an exception .

TypeLoadException: Could not load type 'WebSocket4Net.WebSocket' from assembly 'WebSocket4Net, Version=0.14.1.0, Culture=neutral, PublicKeyToken=eb4e154b696bf72a'.

[2017-03-04 10:51] sacOO7 commented on #4
Do you have account on gitter? You can talk to https://gitter.im/nguyenhaian about your problem. He will surely help you.

[2017-03-04 13:25] Armnomads commented on #4
Thanks sacOO7 , i will write him.

[2017-03-06 14:09] #3 closed

[2017-03-06 14:12] sacOO7 commented on #4
Hey there, have you solved your problem? If it is, then I will close the issue.

[2017-03-06 14:18] Armnomads commented on #4
Thanks, close the issue.

With Personal Regards,
ArmNomads Games Team

*FB Group <https://web.facebook.com/armnomads>*
E-mail: contact@armnomads.com
Phone: +374 10 532255

On Mon, Mar 6, 2017 at 6:12 PM, sachin shinde <notifications@github.com>
wrote:

[2017-03-14 11:02] Armnomads commented on #4
Hey @sacOO7 , nguyenhaian didn't reply us via gitter.im, could you suggest us other way to connect him or someone who can help us with the issues? It is very urgent, because our project doesn't move because of the problems with socket cluster.

[2017-03-14 11:02] sacOO7 commented on #4
Can you tell me the problem?

[2017-03-14 11:14] Armnomads commented on #4
Actually the problem is not resolved, we simply thought that @nguyenhaian could help us that is why we told to close the thread. There are problems with Unity and Socket Cluster, could you advise someone, who can help us?

[2017-03-14 11:15] sacOO7 commented on #4
Tell me the problem with error logs. I will try to help as much as I can .

[2017-03-14 13:25] Armnomads commented on #4
We have tried to make a Unity build for Android with Socket Cluster, and the following error emerged in the log:
 Unable to lookup library path for 'libc', native render plugin support disabled.
 Unable to find libc

[2017-03-14 14:06] sacOO7 commented on #4
Is it working correctly in unity editor?

[2017-03-14 14:25] Armnomads commented on #4
Yes it is

[2017-03-14 14:28] sacOO7 commented on #4
Can you give me detailed log of error, because it is working in unity editor then it should also work in android.

[2017-03-14 14:32] Armnomads commented on #4
03-14 17:43:58.624: D/dalvikvm(18857): Trying to load lib /mnt/asec/com.Def.Company-16/lib/libmain.so 0x41d36d88
03-14 17:43:58.634: D/dalvikvm(18857): Added shared lib /mnt/asec/com.Def.Company-16/lib/libmain.so 0x41d36d88
03-14 17:43:58.664: I/Unity(18857): splash_mode = 0 (integer)
03-14 17:43:58.664: I/Unity(18857): useObb = False (bool)
03-14 17:43:58.884: I/Unity(18857): onResume
03-14 17:43

[2017-03-14 14:37] sacOO7 commented on #4
Hey, for now try to comment out code that shows error. Don't use HttpConnectProxy in project for now. Comment out two methods in Socket.cs:

1] public Channel getChannelByName(string name)
2] public void setProxy(string host, int port)
{
var proxy = new HttpConnectProxy(new IPEndPoint(IPAddress.Parse(host), port));
_socket.Proxy = (SuperSocket.ClientEngine.IProxyConnector)proxy;
}

Check if the UR

[2017-03-14 14:50] Armnomads commented on #4
Thanks , Seems now it is working , but i have another problem about secure connection (wss) . here is the log.

on connect error got called:System.IO.IOException: The authentication or decryption has failed. ---> Mono.Security.Protocol.Tls.TlsException: The server stopped the handshake.
  at Mono.Security.Protocol.Tls.SslClientStream.SafeReceiveRecord (System.IO.Stream s) [0x00000] in <filename un

[2017-03-14 14:51] sacOO7 commented on #4
what is the end-point you are trying to use?

[2017-03-14 14:53] Armnomads commented on #4
wss://echo.websocket.org

[2017-03-14 14:55] sacOO7 commented on #4
Aren't you using socketcluster server? The client is supposed to connect to socketcluster. This might be creating the problem? Check if end-point is working using unity editor and set end-point to socketcluster server

[2017-03-14 15:00] Armnomads commented on #4
We have tried to connect socketcluster server in Ubuntu, same problem.

[2017-03-14 15:01] sacOO7 commented on #4
What was the url?

[2017-03-14 15:04] Armnomads commented on #4
wss://13.90.151.225:443

[2017-03-14 15:05] sacOO7 commented on #4
Try to use wss://13.90.151.225:443/socketcluster

[2017-03-14 15:07] sacOO7 commented on #4
or use wss://13.90.151.225:443/socketcluster/

[2017-03-14 15:13] Armnomads commented on #4
Got new errors:

on connect error got called:System.Exception: RemoteCertificateNotAvailable, RemoteCertificateNameMismatch, RemoteCertificateChainErrors
UnityEngine.Debug:Log(Object)
MyListener:onConnectError(Socket, ErrorEventArgs) (at Assets/MainClass.cs:170)
ScClient.Socket:websocket_Error(Object, ErrorEventArgs) (at Assets/ScClient/Socket.cs:134)
WebSocket4Net.WebSocket:OnError(ErrorEventArgs

[2017-03-14 15:14] Armnomads commented on #4
We also tried with VIsual Studio project using .NET 4 and secure connection was successful.

[2017-03-14 15:18] sacOO7 commented on #4
This is because your certificate is not signed by valid authority. I think you haven't read the doc very well. The end-point for socketcluster is always somedomainname.com/socketcluster/ . There is a method to enable or disable certificate verification,try to use it.

[2017-03-14 15:22] Armnomads commented on #4
Thanks , we will try and replay you.

[2017-03-14 15:32] sacOO7 commented on #4
Try both socket.setSSLCertVerification(true) and socket.setSSLCertVerification(false)

[2017-03-15 07:54] Armnomads commented on #4
But what about  VIsual Studio Project (.net 4) that we could successfully connect with secure connection.

[2017-03-15 09:09] sacOO7 commented on #4
Which end-point is used in Visual Studio Project and is it client the same library?

[2017-03-15 09:52] Armnomads commented on #4
client is the same with .net 4.5 , end point is same too wss://13.90.151.225:443/socketcluster/.
but Unity-s socket client version is .net 2  .

[2017-03-15 09:55] sacOO7 commented on #4
That might be creating the problem, can't you switch to more higher version if possible?

[2017-03-15 09:57] Armnomads commented on #4
unfortunately Unity-s .Net maximum version is 2 (up to 3.5) .

[2017-03-15 09:59] sacOO7 commented on #4
Just check if connection is working without ssl, like try to use ws:domainname/socketcluster/ if possible.

[2017-03-15 10:01] Armnomads commented on #4
Already checked , without ssl it works.

[2017-03-15 10:02] sacOO7 commented on #4
So the unity build for android is working without ssl ?

[2017-03-15 10:05] Armnomads commented on #4
Yes , we talked with "nguyenhaian" , and he helps with build.

[2017-03-15 10:08] sacOO7 commented on #4
Ok, so keep in touch with him. Ask him to upload sample repo. of .net client which he is currently using after modification. Let me know if problem is solved.

[2017-03-15 10:11] Armnomads commented on #4
Yes he sent us his project , but he didn,t try with ssl connection .

[2017-03-15 10:13] sacOO7 commented on #4
Can you please upload the project on github? I think he has unity build for both ios and android. Upload both on github, I will try to add some patches suitable for unity.

[2017-03-15 10:24] Armnomads commented on #4
Thanks for your Help .
But we only want to know is there a way to make **secure connection**  between  **client (unity with .net 2)** and
**server (.net 4.5)**   ...

[2017-03-15 11:02] sacOO7 commented on #4
If it is working in visual studio then it should work in unity android, I think you should rise the issue on
https://github.com/kerryjiang/WebSocket4Net . Bacause socketcluster client uses websocket4net as a websocket client. You should also try to see available issues related to ssl on websocket4net repository.

[2017-03-15 11:08] Armnomads commented on #4
Oh Thanks , we will check that .
Please can you hide the domain address in messages which are mentioned above ,  for security reasons.

[2017-03-15 11:25] sacOO7 commented on #4
I have updated the domain names, well **STAR** the repo. if you like the client :). Although it was quite difficult to setup everything :P

[2017-03-15 11:28] Armnomads commented on #4
Thanks  and give my **star**  ))

[2017-03-17 08:46] #4 closed

[2017-03-21 10:17] Alexlander opened #5 "Client pong timed out"
So I just setup a basic socketcluster server with this C# client and javascript client but I'm getting this time out error:

[code]

Don't know what to do with this :|

People had this with other outdated clients, is that the problem?

Anyway thanks for your great work! Other than this it's working fine :D

[2017-03-21 10:22] sacOO7 commented on #5
Which version of socketcluster-server you are using right now? Just make sure it is latest one.

[2017-03-21 10:40] Alexlander commented on #5
5.9.0

[2017-03-21 10:48] sacOO7 commented on #5
Ok is it working fine for now? I think that wont be creating any problem for transferring messages

[2017-03-21 10:53] sacOO7 commented on #5
At the error of object reference, just try to print the instance of object and make sure it is correct, then try to cast it :)

[2017-03-21 14:58] Alexlander commented on #5
It isn't working yet, it almost looks like the server receives something that goes wrong, and gives a weird empty websocket back that gives me the object reference error. I'm trying to send a small base64 image to the javascript client, it works like 1 time and then it gives me that error or nothing.

[2017-03-21 15:59] sacOO7 commented on #5
Hey you can ask the same on gitter, because I'm not the author of js client.

[2017-03-22 08:18] #5 closed

[2017-03-22 10:12] Alexlander commented on #5
So I fixed the error by putting a thread.sleep in the mid section of my code, I guess I was doing things to fast after each other haha :D

[2017-03-22 10:15] sacOO7 commented on #5
Yeah I think so :), if you want to contribute to the client, fork it, make changes and create pull request. I think its still not stable for unity :p

[2017-03-22 10:35] Alexlander commented on #5
I'd be glad to if I have some spare time! Any hints where I can improve?

[2017-03-22 11:02] sacOO7 commented on #5
Can you make project ready to be get uploaded on Nuget? I think it will facilitate resolving dependencies based on variety of builds.

[2017-03-29 13:33] Alexlander commented on #5
Alright so the solution was in Socket.cs in websocket_MessageReceived to use `if (e.Message == "#1" || e.Message.Contains("1"))` instead of `e.Message == "#1"`, I can leave that one even out right?

[2017-03-29 13:40] sacOO7 commented on #5
Yeah, maybe :)

[2017-05-11 13:03] pranavgupte opened #8 "Unable to install in NuGet Package"
I am working in Xamarin Forms ( PCL )

Unable to install package through this link : https://www.nuget.org/packages/ScClient/1.0.0

Showing me the following error while installing :

Severity Code Description Project File Line Suppression State
Error  Could not install package 'WebSocket4Net 0.14.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Prof

[2017-05-11 13:05] sacOO7 commented on #8
I think there is a little problem with Nuget Package. I think you should choose another way to include library. I think I have enlisted it in the README file.

[2017-06-01 10:27] pranavgupte commented on #8
I tried manually and refered your README file and I got following issue.

Could not install package 'System.Net.Sockets 4.3.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package

[2017-06-16 09:24] sgo13 commented on #8
Hi,
I have the same issue, have you found a solution ?
Thank you.

[2017-06-16 09:31] pranavgupte commented on #8
@sgo13 yes I have found the solution, I have converted my project from PCL to Shared type and installed all dependency packages to .Droid and iOS sepretly and added all files of this library manually.

My issue not resolved for PCL.

[2017-06-16 09:34] sgo13 commented on #8
I can't convert my project to Shared type .....
Really no solution for PCL ?

[2017-06-16 09:46] pranavgupte commented on #8
No,I have searched for 15 days and found that they are still working on this issue. So I decided to convert. Bad Luck !

[2017-06-16 09:47] sgo13 commented on #8
Ok thank you :(

[2017-06-16 17:47] sacOO7 commented on #8
Hey try to to add source files to your project instead :). Thats the best way you can have easier implementation.

[2017-08-01 13:30] Alexlander opened #9 ""SocketProtocolError: Socket hung up" error on server after closing program"
Thought the error could have something to do with the reverse proxy but I tried different ones so that isn't the issue.

I also need a 500ms timeout before I start subscribing after starting the connection, just tell me if I expect to much or if that is something that can be fixed too or if that's something with the server 😛

[2017-08-02 12:40] Alexlander commented on #9
I just manually send a disconnect event to the javascript client on the ApplicationExit event. Seems to work fine. Would rather be able to see which channel the C# client was connected to and send the disconnect event on the server though 😄

[2017-08-02 12:40] #9 closed

[2017-08-02 12:42] sacOO7 commented on #9
Ok, Thanks. That worked out just fine :+1:  Will use the same issue same problems. Good work :) .

[2017-11-15 14:06] iwishgandi opened #10 "A call to SSPI failed"
Hi,

I was using visual studio 2017 on Windows 7 with target framework 4.5. But the connection failed to this issue. It also says "The message received was unexpected or badly formatted".

Any help is appreciated. Thank you!

[2017-12-07 04:55] stejin opened #11 "Publish ScClient as class library"
Hi,
Could you change the ScClient file included in the nuget package from .exe to .dll?
I created a WebJob application that references ScClient but the hosting environment (Azure) executes ScClient.exe instead of my application.
Thanks

[2018-01-20 04:50] junkomatic opened #12 "Code error in HttpConnectProxy.cs: ConnectAsync"
My project is for Xamarin.Forms.Android

After adding this with nuget failed, I copied the *.cs files into my project (excluding your Program.cs). Also, I deleted all of the #if/#else directives for SILVERLIGHT and WINDOWS PHONE, electing only the code I needed for my own Android device. (Using these directives won't work in Xamarin net standard 2 (Portable), only shared?)

One major error that I

[2018-01-20 07:55] junkomatic commented on #12
I just tried creating a new Xamarin.Forms project, this time with a 'shared project' codebase (As noted in previous issues).
 I added the dependencies to my Android project and built, but this same error persists...

[2018-02-02 01:40] takaaptech opened #13 "Can i use this client api for Unity game"
Hi!
Is this compatible with using inside unity game?
Thank so much!

[2018-02-09 22:32] austinkelleher commented on #8
I am also seeing an installation issue when using Nuget. Here is the error message:

[code]

Any thoughts @sacOO7?

[2018-02-11 08:27] tpetrina commented on #8
The error indicates that the newest package `Newtonsoft.Json 10.0.2` cannot be installed in Unity since it is .NET 3.5 (Unity Subset v3.5). Since it is a direct dependency and it doesn't support the target platform, you won't be able to install this library.

[2018-02-11 08:30] sacOO7 commented on #8
Hi guys, I'm currently working on it to fix the issue. I will upload nuget packages for all platforms on nuget store soon... So please wait till then and keep watching repo. For more updates.

[2018-02-18 07:37] sacOO7 commented on #13
Hi @takaaptech you can surely use this client for unity. Try to download latest build if C# client from nuget.
To install use
`Install-Package ScClient.Official`
Or visit link
https://www.nuget.org/packages/ScClient.Official/.
For more information, visit this issue

[2018-02-18 07:40] sacOO7 commented on #8
Hi @pranavgupte , @sgo13 , @austinkelleher , @tpetrina , I have uploaded latest version of client with targets for .net standard, core and full framework. Please check that out on nuget store. Use following command to install latest one
`Install-Package ScClient.Official`
Or visit this link
https://www.nuget.org/packages/ScClient.Official/

[2018-02-18 07:41] sacOO7 commented on #8
If you guys @pranavgupte, @sgo13, @austinkelleher , @tpetrina do not face any issues after installing the library, I will close the issue. Thank you :)

[2018-02-18 07:44] sacOO7 opened #14 "Connect async and Rx.Net support for library"
Add support to connect asynchronously using async/await. Implement scclient using asynchronous streams,
given in Rx.Net (Reactive extensions).

[2018-02-18 07:44] sacOO7 commented on #13
Please let me know if you face any issues 👍

[2018-02-18 07:46] sacOO7 commented on #12
Hi @junkomatic , sorry for the late reply.
You can surely use this client for .net standard 2.0 now.
 Try to download latest build if C# client from nuget.
To install use
`Install-Package ScClient.Official`
Or visit link
https://www.nuget.org/packages/ScClient.Official/.

[2018-02-18 07:47] sacOO7 commented on #11
Hi @stejin , sorry for late reply. I have uploaded library on nuget which targets different platforms.
To install use
`Install-Package ScClient.Official`
Or visit link
https://www.nuget.org/packages/ScClient.Official/.

[2018-02-18 07:48] sacOO7 commented on #11
If you face any more issues, please let me know about it 👍

[2018-02-18 07:49] sacOO7 commented on #10
Hi @iwishgandi, Sorry for late reply, Can you post your code here? Also try to include latest version of library in your project.
To install use
`Install-Package ScClient.Official`
Or visit link
https://www.nuget.org/packages/ScClient.Official/.

[2018-02-19 17:51] takaaptech commented on #13
Hi! Thank for the info! I will try and post back!

[2018-02-20 19:43] sacOO7 commented on #11
I am closing this issue, please create new one if you face any problem ...

[2018-02-20 19:43] #11 closed

[2018-03-08 18:29] ivopc opened #15 "dotnet 3.5 support unity 5"
I am trying to installing SocketclusterClientDotNet on 3.5 dotnet project to work with socketcluster in Unity but in nuget VisualStudio is showing it need 4.5 dotnet version or more and in the github documentation is showing it support 3.5 dotnet version (Unity 5 only  supports 3.5 dotnet or less) =[

[2018-03-08 19:09] sacOO7 commented on #15
Hi, please install the official version of the library. It's named as
Scclient.Official. You are probably trying to use legacy version of library.

On Mar 8, 2018 11:59 PM, "ivopc" <notifications@github.com> wrote:

[2018-03-08 19:16] ivopc commented on #15
is this the legacy version?
https://i.imgur.com/PSkvI5f.png

[2018-03-09 03:23] ivopc commented on #15
in the VS nuget is showing the 1.1.1 version...

[2018-03-15 18:47] floky commented on #15
Also having the same problem when attempting to install using "Install-Package ScClient.Official" command or the VS visual interface to browse for the ScClient.Official package.
Note that this was tried on a **Unity project** using **Unity 2017.3.1p4** opened with Visual Studio 2017 Community Edition. (in case it matters)
This is the exact output I get from the "Install-Package" command:

Any idea

[2018-03-17 21:42] sacOO7 commented on #15
Hi @ivopc , @floky , I have added target for .Net 3.5 and .Net 2.0. Latest update will be available in an hour or so. Please update to latest version of package and let me know if you have any problem. Thank you once again :).

[2018-03-18 05:45] sacOO7 commented on #15
I will be closing this issue soon. Please let me know about fix asap (if it is working)..

[2018-03-20 03:44] ivopc commented on #15
Connection working fine here, I will test more things later and i'll post it

[2018-03-20 03:46] ivopc commented on #15
@floky watch this vid:
https://www.youtube.com/watch?v=Wy4uu8lMEDA
you need to create a dll and import it in Unity as plugin

[2018-03-20 04:29] sacOO7 commented on #15
Yes sure, thank you @ivopc , I will be closing this issue, since library is now working in unity. Feel free to ask questions if you have any problem

[2018-03-20 04:29] #15 closed

[2018-03-21 19:04] sacOO7 commented on #13
HI @takaaptech , I have upgraded version to support .net 3.5. I think it now perfectly works in unity. Please refer to this issue for more info https://github.com/sacOO7/SocketclusterClientDotNet/issues/15

[2018-04-09 20:30] floky commented on #15
Sorry for the awful late reply! I can confirm that now DLL built from source is working ok for Unity.

[2018-04-11 20:35] jayvan commented on #13
Today I used this library in a Unity game I'm working on. It will work for desktop, but because newtonsoft.json uses dynamic reflection you'll hit runtime issues if you build your game for iOS because of il2CPPs ahead of time code generation. We use [LitJSON](https://github.com/LitJSON/litjson) throughout our games because it doesn't use reflection and we've battle tested it on iOS. I modified `so

[2018-04-12 07:42] sacOO7 commented on #13
Hi @jayvan , I will take a look at it for sure 👍 . Can you check if same is working in android? It will be really helpful if you can check and let me know about it. Thank you once again.

[2018-04-12 16:35] sacOO7 commented on #13
Thank you very much @takaaptech . It will be really helpful if you can generate PR for it if you already have code available. Thank you once again 👍

[2018-04-27 06:41] kevinvella opened #17 "Can't connect to socket cluster server"
I have a weird issue. When connecting to a a web socket server using the domain name in a xamarin mobile application, the server is logging "SocketProtocolError: Socket hung up" and from the client "System.InvalidOperationException: Operation already in progress"

When i try the code from a console application, the client connects fine and is able to send and receive data

ScClient.Offical version

[2018-05-12 15:09] sacOO7 commented on #17
Hi @kevinvella , can you give me detailed log for this?

[2018-05-13 12:07] sacOO7 commented on #13
HI @jayvan , I will be generating new nuget package that uses LitJSON. I will probably need your help to review and test it. Thank you for your help in detecting the issue :+1:

[2018-05-13 14:13] kevinvella commented on #17
Hi @sacOO7,
What information do you need? Running platforms, etc...?

[2018-05-13 19:32] kevinvella commented on #17
Hi @sacOO7
Created a simple repository containg a console application and a xamarin forms application containing both android u ios. Repository here [https://github.com/kevinvella/Socket-Cluster-Test](https://github.com/kevinvella/Socket-Cluster-Test)

[2018-05-13 19:38] sacOO7 commented on #17
Hi @kevinvella , will take a look at it :+1:

[2018-05-13 19:43] sacOO7 commented on #17
HI @kevinvella , I think it might be creating multiple service objects, so trying to connect to server multiple times. Can you move connect method somewhere else. It might work ...

[2018-05-13 19:51] sacOO7 commented on #17
Also make sure you have proper permission to have network access. I think currently the connection might be running on UI thread. So you need to connect to server on background thread probably.

[2018-05-13 21:28] sacOO7 commented on #17
Not sure why it's not able to resolve domain name. Try starting server on
specific ip address and then point socket to that address.

On May 14, 2018 2:52 AM, "kevinvella" <notifications@github.com> wrote:

[2018-05-13 21:37] kevinvella commented on #17
Will check later.
One more thing on the console app i'm able to connect to the socket using the domain name as in `socket = new Socket("ws://localhost:8000/socketcluster/");`

[2018-05-16 05:49] sacOO7 commented on #17
Hi @kevinvella , any updated on this? If it's working, I will be closing the issue 👍

[2018-05-20 15:26] kevinvella commented on #17
Hi @sacOO7 ,

I haven't had any time to test. I switched to PureSocketCluster and it worked.

I don't think the problem is in your lib. I think it's more related to how WebSocket4Net is working. Should we link this issue to WebSocket4Net repo issues?

[2018-05-21 05:57] sacOO7 commented on #17
Hi @kevinvella , it should work on both libraries. I will look into the issue 👍 .

[2018-05-21 06:26] sacOO7 commented on #12
Hi @junkomatic , please let me know if you are facing any issues in xamarin android, otherwise I will close the issue 👍

[2018-05-21 06:27] sacOO7 commented on #10
Hi @iwishgandi, please let me know if you are facing any issues regarding this, otherwise I will close the issue 👍

[2018-05-21 08:29] kevinvella commented on #17
Ok. Thanks. If i have time, i will also take a look

[2018-06-05 11:04] kevinvella commented on #17
Hi,

Any updates on this?

[2018-06-05 11:07] sacOO7 commented on #17
Hi @keveinvilla, I was not able to reproduce the issue, might have to look
into it again 😌. Not sure why it creates problem while connecting to
server. I believe it might be ip related issue since it was working for you
for localhost url

On Jun 5, 2018 4:34 PM, "kevinvella" <notifications@github.com> wrote:

[2018-06-05 12:09] kevinvella commented on #17
Hi @sacOO7,
Ok. just fyi the hosting provider of the test app is evennode.com.

[2018-06-29 20:23] sacOO7 opened #19 "Upgrading the client - Sync with JS client"
* Sync all socket level API's with respect to JS client
* Sync all channel level API's with respect to JS client.
* Well tested major release of client

[2018-07-06 08:50] sacOO7 opened #20 "Create separate project to support Unity android and iOS build using LitJSON"

[2018-07-06 08:50] sacOO7 commented on #13
#20

[2018-07-06 08:50] #13 closed

[2018-07-25 20:00] sacOO7 commented on #13
Hi @takaaptech , since you have battle tested litJSON. I had some questions regarding it. Does JsonMapper.ToJson and JsonMapper.ToObject works correctly in android and ios build? Those functions are used for json to object mapping and vice versa.

[2018-07-30 06:39] sacOO7 commented on #10
Hi @iwishgandi , I am closing the issue, since there are no updates. Feel free to raise new issue, if you face any problem.

[2018-07-30 06:39] #10 closed

[2018-07-30 06:39] sacOO7 commented on #12
Hi @junkomatic  , I am closing the issue, since there are no updates. Feel free to raise new issue, if you face any problem.

[2018-07-30 06:39] #12 closed

[2018-07-30 06:41] sacOO7 commented on #20
New version of library is created here https://github.com/sacOO7/socketcluster-client-unity. Will be closing this issue :)>

[2018-07-30 06:41] #20 closed

[2018-07-30 06:50] sacOO7 commented on #15
Hi @ivopc , @floky  I am not sure if you guys are using this library as a unity client for **unity iOS and Android** build , but there were some runtime issues in serialization due to NewtonSoft.json (Library for JSON serialization and deserialization).  You can see more details here https://github.com/sacOO7/SocketclusterClientDotNet/issues/13. You will not face same issues on unity desktop thoug

[2018-07-30 06:53] sacOO7 commented on #13
Hi @takaaptech , as per our discussion, I have created and published Unity specific .net client which uses LitJSON as a default serializer and deserializer. You can find it here https://github.com/sacOO7/socketcluster-client-unity. Please use it and let me know if it matches your requirement and works perfectly.

[2018-08-15 15:13] pickmeup101 opened #21 "Errors when using in unity"
Installing from nuget, the ScClient namespace is available in the C# environment and compiles success in the Visual Studio. But when run in the Unity, error occurs:
"Assets/Scripts/GameManager.cs(8,7): error CS0246: The type or namespace name `ScClient' could not be found. Are you missing an assembly reference?"

I have goooogled a lot, but still can't resolve it.
But there's something useful mess

[2018-08-15 21:40] sacOO7 commented on #21
Hi @pickmeup101 , will look into it 👍 .
Meanwhile this will help you
1. https://github.com/sacOO7/SocketclusterClientDotNet/issues/4
2. https://github.com/sacOO7/SocketclusterClientDotNet/issues/15

Please go through those issues. You will find useful information for sure 👍

[2018-08-15 21:42] sacOO7 commented on #21
There is also a video link available in above issue discussions. There is a proper way to import DLLS in Unity engine. Please let me know if you need anything else.

[2018-08-16 14:55] sacOO7 commented on #21
Hi @pickmeup101, just a summarized link from above issues, https://www.youtube.com/watch?v=Wy4uu8lMEDA . This will surely help you 👍

[2018-08-16 15:08] pickmeup101 commented on #21
@sacOO7 Thanks for your advice!
I have read all of the issues and watch the video, but still can't make it run.
I am using Unity 2018.2.2f1 Personal (the newest version now) and .NET4.x runtime and "ScClient.Unity.0.1.0/lib/net46/ScClient.dll" (also tried other dll). And still got the error message:
"Unloading broken assembly Assets/Plugins/ScClient.dll, this assembly can cause crashes in the runt

[2018-08-16 15:17] sacOO7 commented on #21
Maybe I need to download latest version of unity, I will try to reproduce the same on my local ... I think we have different releases available for .Net client (Not unity client). Try downloading previous version and try importing it ..

[2018-08-16 16:16] pickmeup101 commented on #21
Appreciated. I will try different .Net client.

[2018-08-16 16:52] pickmeup101 commented on #21
Resolve it!
I download the source files and recompile dll in my environment, and it works!

[2018-08-16 17:05] sacOO7 commented on #21
Ok great ✌️😌. Still I am not sure, why you need to use source files for compilation. You can just library using nuget package. And the make dll out of it.

[2018-08-16 17:05] sacOO7 commented on #21
Need to reproduce on my local env.

[2018-08-17 04:51] pickmeup101 commented on #21
@sacOO7 I am new to Unity and C#, I don't know why, but it works :)
Thank you!

[2018-08-17 06:32] sacOO7 commented on #21
Please let me know if you face any problem 👍 .

[2018-08-18 12:25] pickmeup101 commented on #21
@sacOO7  Problem comes :)
The Unity client can't connect to the server. It continually triggers the disconnect event.
The server works well with js client. There are no other error messages, I don't know how to debug.
Need your help!

[2018-08-19 16:12] pickmeup101 commented on #21
@sacOO7 Find the reason! It works well with http but not https. Does the Unity client not support https yet?

[2018-08-19 16:25] sacOO7 commented on #21
Hey, thanks for the help... It might be ssl certificate issue. Can you
check if SSL certificate is valid from server. Also try disabling ssl
certificate check from client side.

On Aug 19, 2018 9:42 PM, "杨超越" <notifications@github.com> wrote:

[2018-08-19 16:34] pickmeup101 commented on #21
I am using "self signed certificate", is it the problem?

[2018-08-19 17:00] sacOO7 commented on #21
Yes, it should be problem. SSL certificate is supposed to be signed by
trusted authorities. In the client, we have option to disable the
certificate verification... You can try it out. Please read the last line
in the README doc.

On Aug 19, 2018 10:04 PM, "杨超越" <notifications@github.com> wrote:

[2018-08-19 17:15] pickmeup101 commented on #21
Do you mean this config:
"socket.SetSslCertVerification(false);"
I tried to add this config, but still get the same error as without the config in https:
It continually triggers disconnect event.

[2018-08-19 17:32] sacOO7 commented on #21
Yeah, it should have worked. Do you have server hosted on a specific domain? I can try it from here

[2018-08-19 17:46] pickmeup101 commented on #21
Sorry, I am using it in the local environment. If needed, I will try to deploy it to a remote server.
But actually, the server code is simple. It's the demo code from the SC's doc. I just open the SSL and give it a self-signed certificate. Nothing special.

[2018-08-20 07:02] sacOO7 commented on #21
Ok .... will look into it. It will be helpful if you can upload code on github. I can try cloning it, and then try reproducing the issue. Till then you can write code assuming http/ws connection.

[2018-08-20 07:06] sacOO7 commented on #21
It also seems an old issue... https://github.com/sacOO7/SocketclusterClientDotNet/issues/4

[2018-08-20 07:10] sacOO7 commented on #21
@pickmeup101 , keep watching the issue, I will post an update, once I find the fix...

[2018-08-20 16:29] pickmeup101 commented on #21
Sure! Will keep watching it! Waiting for your good news! I will use HTTP for developing temporally.
I uploaded the code to GitHub, including the self-signed ca files, hope it will help :)
https://github.com/pickmeup101/sc-test.git

[2018-08-22 10:59] sacOO7 commented on #21
Hey, this might not be appropriate, but can you try this client https://github.com/coinigy/PureSocketCluster. It's not official one, but might work for you. Till then, I will look into the issue...

[2018-08-22 11:02] sacOO7 commented on #21
Might not be https/wss works for me on local console application... Still trying to reproduce the issue.

[2018-09-09 14:54] sacOO7 commented on #21
Hi @pickmeup101 , yes it does not support WaitForAuth parameter. I will be adding that functionality soon.

[2018-09-09 14:56] sacOO7 commented on #21
Also, do let me know about your updates on the client. More issues are always welcome..

[2018-09-15 08:56] pickmeup101 commented on #21
Sure, I am using the client without https now. It's OK for developing.
New issues will be reported here if I found.  :)
Thank you very much!

[2018-11-29 03:38] ansubur opened #22 "Reconnects automatically after successfully emitting disconnect"
The problem I face is that after calling disconnect the client automatically connects to the server. Which causes "hung up" warning when closing the winform.

I'm testing the code with default server.js code downloaded from npm.
The winform code:

    Private Sub Form1_FormClosing(sender As Object, e As FormClosingEventArgs) Handles Me.FormClosing
        Me.DisconnectFromServer()
    End Sub

[2018-11-29 14:46] floky commented on #15
Thanks @sacOO7 ! Sry for the late reply. Was off the internet "radar" for a while. I will look into it and use the new version you provided.
Much appreciated for the heads up!

[2018-12-16 16:33] VincentRichard555 commented on #21
Hi,

I posted in the socketcluster repo, but would it be possible to get a readymade dll?

Thanks

[2019-01-04 12:33] madagaga opened #23 "System.NullReferenceException when reconnect strategy is null"
If reconnect strategy is null
`socket.SetReconnectStrategy(null);`

OnWebsocketClosed throw an null reference exception.

[2019-01-18 12:35] ansubur commented on #22
I've solved this problem by using reconnectstrategy with 0 reconnection attempts.

[2019-01-18 12:35] #22 closed

[2019-01-18 12:36] ansubur commented on #23
instead of null try using reconnectionstrategy with setmaxattempts(0);

[2019-03-10 22:39] DrewDaPilot opened #24 "System.Exception: unknown server protocol version"
On Xamarian.Forms, I received the following exception.

System.Exception: unknown server protocol version

        void IBasicListener.OnConnectError(Socket socket, ErrorEventArgs e)
        {
            System.Diagnostics.Debug.WriteLine("Connection Error : " + e.Exception.ToString());
        }

        protected override void OnStart()
        {
            conn = new Socket("ws://73.159.237.1

[2019-06-09 06:29] pickmeup101 commented on #21
Hello Sachin, problem found. :)
When the message is bigger than about 300KB, the client will not receive it.
Will you please check it out?
Thank you!
@sacOO7

[2019-06-09 14:01] pickmeup101 commented on #21
Find the reason, the server runs out of memory and causes the service restart, so the client can't receive the data.  Not the client's problem.

[2019-11-07 14:59] ddslawson opened #25 "Exceptions not handled during reconnect and setting Reconnect strategy equal to null causes null reference exception"
https://github.com/sacOO7/SocketclusterClientDotNet/blob/95332be2ee06f771229ccc506124fe9677c8bd5f/ScClient/Socket.cs#L225

I experienced an exception being thrown during the reconnect procedure. Specifically the exception said an attempt to connect was refused because an attempt to connect was already in progress. I believe some exception handling is needed on line 225 referenced above.

https://g

[2020-01-23 13:45] dhpanteon opened #26 "Random error that crash application"
1)
{System.ArgumentException: An item with the same key has already been added. Key: 6
  at System.Collections.Generic.Dictionary`2[TKey,TValue].TryInsert (TKey key, TValue value, System.Collections.Generic.InsertionBehavior behavior) [0x000ad] in <d4a23bbd2f544c30a48c44dd622ce09f>:0
  at System.Collections.Generic.Dictionary`2[TKey,TValue].Add (TKey key, TValue value) [0x00000] in <d4a23bbd2f544c

[2020-03-13 14:33] janusw opened #27 "JsonReaderException when updating ScClient from version 1.1.2 to 1.2.0"
I have a Xamarin cross-platform application that uses ScClient.Official. When updating from version 1.1.2 to 1.2.0 via nuget, I get exceptions on both iOS and Android:

[code]

The stacktrace on Android is the following (note that this does not include any of my own code, but only 3rd-party library code):

[code]

[2020-03-13 15:01] sacOO7 commented on #27
Latest release conforms to the new socketcluster protocol (slight change in
ping pong mechanism).. please make sure you have latest version of the SC
server available in the back end.

On Fri, Mar 13, 2020, 20:03 Janus Weil <notifications@github.com> wrote:

[2020-03-13 15:22] janusw commented on #27
Thanks for the comment, @sacOO7. Do you know which SC server version is required?

[2020-07-06 11:15] gujacob opened #28 "Invoke method is not available for the client."
Hi,

Do you have any plans to support RPC calls from the dot net client to a server?

Thanks

[2020-07-16 02:54] zacharygriffee commented on #24
Realize this is an old issue, but I ran into this very issue. What fixed it for me is putting a slash at the end of the URI:

`conn = new Socket("ws://73.159.237.174:8000/");`

and if there is a path to the socketcluster, for me it is 'gs':

`ws://127.0.0.1:8000/gs/`

Hope this is helpful!

[2020-08-27 14:21] dhpanteon commented on #26
Any update on this issue ?

[2020-11-05 19:25] jnschultz opened #29 "Emit is not being received SocketCluster v16"
on C# client..
                SocketMessage sockeMessage = new SocketMessage();
                sockeMessage.MessageType = "PatientTestResult";
                sockeMessage.PatientId = (long)testResult.PatientId;
                sockeMessage.DoctorId = doctor.Id;
                socket.Emit("inbound", sockeMessage);

on sever side

(async () => {
  for await (let {socket} of agServer.listener('co

[2020-11-05 21:16] jnschultz commented on #29
I believe I found the issue.. I was placing my .Connect() in the constructor [this was an API call] .. I moved that into the api function .. I had to place a Thread.Sleep(2000) as your example did.. then I called the Disconnect after the Emit and another Sleep ..

[2020-11-05 21:16] #29 closed

[2021-02-07 22:12] janusw commented on #27
This problem still persists. I cannot update to the current version since I'm bound to an old server version. AFAICS the server versions with the 'old' ping-ping mechanism should be <= 14, while 15.x and 16.x are supposed to have the new mechanism.

Note that the js client supports both mechanisms via a `protocolVersion` option. I guess this would be suitable way to fix the discrepancy in the C# c

[2021-02-07 22:14] sacOO7 commented on #27
Hey . Thanks for reporting the issue. Can you create a PR for the same ? I
will check and merge it 👍

On Mon, Feb 8, 2021, 03:42 Janus Weil <notifications@github.com> wrote:

[2021-02-07 22:22] janusw commented on #27
Done, see #30 😄
Note that I have not tested it yet, but I can so that tomorrow.

[2021-02-08 07:44] janusw commented on #27
By now I have verified that the changes from the PR work for my case. AFAICS, the used server version is 14.3.

[2021-02-27 17:03] janusw commented on #27
This issue is fixed via #30, closing.

[2021-02-27 17:03] #27 closed

[2021-02-27 17:17] janusw commented on #24
I have also been running into this occasionally (with version 1.1.2), but could never figure out under which circumstances it occurs (and have not been able to find a clean reproducer).

Note: I do have a slash at the end of the URI, and in fact I use a secure websocket connection ("wss://").

[2021-09-07 06:11] janusw commented on #26
You should provide more info about when this occurs or how to reproduce it.

[2022-07-18 07:56] QQ2287991080 opened #34 "Newtonsoft.Json.JsonReaderException: 'Unexpected character encountered while parsing value: #. Path '', line 0, position 0.'"
dotnet version 6.0

![image](https://user-images.githubusercontent.com/48544629/179467905-97ecc83f-37d2-4cdd-a84c-46cdb6b40e0b.png)

socketcluster version@14.3.2
ScClient version@1.21